@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  color: black;
  transition: 0.3s ease all;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #fff9f0;
}

nav {
  display: flex;
  align-items: center;
  height: auto;
  justify-content: space-between;
  padding: 1rem 2.5rem;
}

.left,
.middle,
.right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  opacity: 0;
  transform: translateX(-200px);
}

.left img {
  width: 6.5rem;
  height: auto;
}

.middle ul li a {
  opacity: 0;
  transform: translateY(-50px);
}

.middle ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.middle ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.middle ul li a {
  text-decoration: none;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
}

.search-bar {
  opacity: 0;
  transform: translateX(500px);
}

.search-bar {
  display: flex;
  width: 14rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  border: 1.8px solid #948e8f;
  padding: 0.8rem;
  border-radius: 2rem;
}

.search-bar img {
  width: 1.8rem;
  height: auto;
}

.search-bar input {
  width: 100%;
  border: none;
  background-color: transparent;
  outline: none;
}

.dashboard-btn {
  opacity: 0;
  transform: translateX(200px);
  display: none;
}

.mnav {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #f7efed;
  z-index: 1000;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.3);
}

.mnav .close {
  position: absolute;
  opacity: 0;
}

.links ul li a {
  opacity: 0;
  transform: translateY(-500px);
  text-transform: uppercase;
  font-weight: 500;
}

.mnav ul {
  list-style: none;
  text-align: center;
  font-size: 1.5rem;
}

.mnav ul li {
  margin: 3rem 0;
}

.mnav ul li a {
  text-decoration: none;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.hleft {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hleft > h1 {
  font-size: 3rem;
  width: 30rem;
  line-height: 3.7rem;
  opacity: 0;
  transform: translateY(100px);
}

.hleft > h1 .h1-span {
  opacity: 0;
  transform: translateY(500px);
}

.hleft > p {
  color: #606061;
  width: 25.4rem;
  font-size: 1.1rem;
  line-height: 1.925rem;
  opacity: 0;
  transform: translateX(-100px);
}

.shop {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  opacity: 0;
}

.shop .shop-btn {
  cursor: pointer;
  background-color: black;
  border: none;
  padding: 1rem 0.7rem;
  border-radius: 3rem;
  height: 3.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  z-index: 1;
}

.shop .shop-btn .shop-img {
  border-radius: 2rem;
  display: flex;
  background-color: #fecb3c;
  padding: 0.063rem;
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
}

.shop .shop-btn img {
  width: 2rem;
  height: auto;
  padding: 0.313rem;
}

.shop-btn p {
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
}

.count {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.count-ring {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 1.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

.count-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 0.938rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.count-img img {
  width: 1rem;
  height: auto;
}

.count-ring:nth-child(2) {
  padding: 1.9rem;
}

.count-ring:nth-child(2) .count-img {
  padding: 1.438rem;
}

.count-img p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}

.hright {
  display: flex;
  justify-content: center;
}

.hright img {
  width: 23.263rem;
  z-index: 0;
  height: auto;
  background: radial-gradient(circle, black, transparent 60%);
  opacity: 0;
  transform: translateX(100px);
}

.bg1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25rem;
  height: 20rem;
  opacity: 0;
  transform: translateX(-100px);
  z-index: 0;
}

.bg2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25rem;
  height: 20rem;
  opacity: 0;
  transform: translateX(100px);
  z-index: 0;
}

@media (min-width: 1601px) {
  .dnav {
    padding: 2rem 4.5rem;
  }

  .left img {
    width: 8rem;
  }

  .middle ul {
    gap: 3rem;
  }

  .middle ul li a {
    font-size: 1.5rem;
  }

  .right .search-bar {
    width: 20rem;
    height: 4.5rem;
    border-radius: 4rem;
    gap: 1rem;
    padding: 1.3rem;
  }

  .right .search-bar input {
    font-size: 1.15rem;
  }

  .hero {
    margin-top: 3rem;
  }

  .hleft > h1 {
    font-size: 5rem;
    width: 31rem;
    line-height: 4.7rem;
  }

  .hleft > p {
    width: 34.7rem;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 1.5rem;
  }

  .shop .shop-btn {
    padding: 1.5rem;
    border-radius: 4rem;
    height: 5.5rem;
    gap: 1.5rem;
  }

  .shop .shop-btn .shop-img {
    border-radius: 3rem;
    padding: 1rem;
    width: 4rem;
    height: 4rem;
  }

  .shop .shop-btn img {
    width: 3rem;
  }

  .shop-btn p {
    font-size: 1.5rem;
  }

  .count-ring {
    padding: 1.8rem;
    width: 3rem;
    height: 3rem;
  }

  .count-img {
    padding: 1.3rem;
    width: 2.5rem;
    height: 2.5rem;
  }

  .count-ring:nth-child(2) {
    padding: 2.3rem;
  }

  .count-ring:nth-child(2) .count-img {
    padding: 1.8rem;
  }

  .count-img p {
    font-size: 2rem;
  }

  .hright img {
    width: 30rem;
  }

  .bg1 {
    width: 35rem;
    height: 25rem;
  }

  .bg2 {
    width: 35rem;
    height: 25rem;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .dnav {
    padding: 1rem 2.5rem;
  }

  .left img {
    width: 6rem;
  }

  .middle ul {
    gap: 4rem;
  }

  .middle ul li a {
    font-size: 1.15rem;
  }

  .right .search-bar {
    width: 11.5rem;
    height: 2rem;
    border-radius: 4rem;
    gap: 0.8rem;
    padding: 1.5rem;
  }

  .right .search-bar img {
    width: 1.5rem;
  }

  .right .search-bar input {
    font-size: 1rem;
  }

  .hero {
    margin-top: 2.5rem;
  }

  .hleft > h1 {
    font-size: 3rem;
    width: 18.2rem;
    line-height: 3.7rem;
  }

  .hleft > p {
    width: 25.4rem;
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin-top: 1.2rem;
  }

  .shop .shop-btn {
    padding: 1rem;
    border-radius: 3rem;
    height: 3.5rem;
    gap: 1.2rem;
  }

  .shop .shop-btn .shop-img {
    border-radius: 3rem;
    padding: 1rem;
    width: 2.5rem;
    height: 2.5rem;
  }

  .shop .shop-btn img {
    width: 2rem;
  }

  .shop-btn p {
    font-size: 1rem;
  }

  .count-ring {
    padding: 1.5rem;
    width: 2rem;
    height: 2rem;
  }

  .count-img {
    padding: 1.2rem;
    width: 2rem;
    height: 2rem;
  }

  .count-ring:nth-child(2) {
    padding: 1.9rem;
  }

  .count-ring:nth-child(2) .count-img {
    padding: 1.5rem;
  }

  .count-img p {
    font-size: 1.4rem;
  }

  .hright img {
    width: 19rem;
  }

  .bg1 {
    width: 20rem;
    height: 15rem;
  }

  .bg2 {
    width: 20rem;
    height: 15rem;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .dnav {
    padding: 1rem 2.5rem;
  }

  .left img {
    width: 5rem;
  }

  .middle ul {
    gap: 2.5rem;
  }

  .middle ul li a {
    font-size: 1.1rem;
  }

  .right .search-bar {
    width: 11.5rem;
    height: 2rem;
    border-radius: 4rem;
    gap: 0.5rem;
    padding: 1.5rem 1rem;
  }

  .right .search-bar img {
    width: 1.3rem;
  }

  .right .search-bar input {
    font-size: 1rem;
  }

  .hero {
    margin-top: 14rem;
  }

  .hleft > h1 {
    font-size: 2.5rem;
    width: 15.2rem;
    line-height: 3rem;
  }

  .hleft > p {
    width: 23.1rem;
    font-size: 1rem;
    line-height: 1.6rem;
    margin-top: 0.5rem;
  }

  .shop .shop-btn {
    padding: 1rem;
    border-radius: 3rem;
    height: 3.2rem;
    gap: 1.1rem;
  }

  .shop .shop-btn .shop-img {
    border-radius: 3rem;
    padding: 1rem;
    width: 2rem;
    height: 2rem;
  }

  .shop .shop-btn img {
    width: 1.8rem;
  }

  .shop-btn p {
    font-size: 0.9rem;
  }

  .count-ring {
    padding: 1.3rem;
    width: 1rem;
    height: 1rem;
  }

  .count-img {
    padding: 1rem;
    width: 1rem;
    height: 1rem;
  }

  .count-ring:nth-child(2) {
    padding: 1.5rem;
  }

  .count-ring:nth-child(2) .count-img {
    padding: 1.2rem;
  }

  .count-img p {
    font-size: 1.2rem;
  }

  .hright img {
    width: 16rem;
  }

  .bg1 {
    width: 15rem;
    height: 14rem;
  }

  .bg2 {
    width: 15rem;
    height: 14rem;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .middle,
  .right {
    display: none;
  }

  .dashboard-btn {
    display: block;
  }

  .left img {
    width: 5rem;
    height: auto;
  }
  .mnav .close {
    top: 3rem;
    right: 3rem;
  }
  .mnav .close img {
    width: 2rem;
    height: auto;
  }

  .hero {
    justify-content: center;
    margin-top: 7rem;
  }

  .hleft > h1 {
    font-size: 2rem;
    width: 12.1rem;
    line-height: 2.5rem;
  }

  .hleft > p {
    width: 20rem;
    font-size: 0.9rem;
    line-height: 1.6rem;
    margin-top: 0.5rem;
  }

  .shop .shop-btn {
    padding: 1rem;
    border-radius: 3rem;
    height: 2.8rem;
    gap: 1.1rem;
  }

  .shop .shop-btn .shop-img {
    border-radius: 3rem;
    padding: 0.8rem;
    width: 2rem;
    height: 2rem;
  }

  .shop .shop-btn img {
    width: 1.6rem;
  }

  .shop-btn p {
    font-size: 0.8rem;
  }

  .count-ring {
    padding: 1.2rem;
    width: 1rem;
    height: 1rem;
  }

  .count-img {
    padding: 0.9rem;
    width: 0.8rem;
    height: 0.8rem;
  }

  .count-ring:nth-child(2) {
    padding: 1.3rem;
  }

  .count-ring:nth-child(2) .count-img {
    padding: 1rem;
  }

  .count-img p {
    font-size: 1rem;
  }

  .hright img {
    width: 15rem;
  }

  .bg1 {
    width: 14rem;
    height: 12rem;
  }

  .bg2 {
    width: 14rem;
    height: 12rem;
  }
}

@media (min-width: 481px) and (max-width: 600px) {
  .middle,
  .right {
    display: none;
  }

  .dashboard-btn {
    display: block;
  }

  .left img {
    width: 5rem;
    height: auto;
  }
  .mnav .close {
    top: 5rem;
    right: 5rem;
  }
  .mnav .close img {
    width: 2rem;
    height: auto;
  }
  .mnav ul li a {
    font-size: 1.3rem;
  }
  .hero {
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
  }

  .hleft > h1 {
    font-size: 2rem;
    width: 12.1rem;
    line-height: 2.5rem;
  }

  .hleft > p {
    width: 17.7rem;
    font-size: 0.8rem;
    line-height: 1.6rem;
    margin-top: 0.5rem;
  }

  .shop .shop-btn {
    padding: 1rem;
    border-radius: 3rem;
    height: 2.8rem;
    gap: 1.1rem;
  }

  .shop .shop-btn .shop-img {
    border-radius: 3rem;
    padding: 0.8rem;
    width: 2rem;
    height: 2rem;
  }

  .shop .shop-btn img {
    width: 1.6rem;
  }

  .shop-btn p {
    font-size: 0.8rem;
  }

  .count-ring {
    padding: 1.2rem;
    width: 1rem;
    height: 1rem;
  }

  .count-img {
    padding: 0.9rem;
    width: 0.8rem;
    height: 0.8rem;
  }

  .count-ring:nth-child(2) {
    padding: 1.3rem;
  }

  .count-ring:nth-child(2) .count-img {
    padding: 1rem;
  }

  .count-img p {
    font-size: 1rem;
  }

  .hright img {
    margin-top: 5rem;
    width: 15rem;
  }

  .bg1 {
    width: 14rem;
    height: 12rem;
  }

  .bg2 {
    width: 14rem;
    height: 12rem;
  }
}

@media only screen and (max-width: 480px) {
  .middle,
  .right {
    display: none;
  }

  .dashboard-btn {
    display: block;
  }

  .left img {
    width: 3.5rem;
    height: auto;
  }
  .mnav .close {
    top: 2rem;
    right: 3rem;
  }
  .mnav .close img {
    width: 2rem;
    height: auto;
  }
  .mnav ul li a {
    font-size: 1.1rem;
  }
  .hero {
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
  }

  .hleft > h1 {
    font-size: 1.5rem;
    width: 9.1rem;
    line-height: 2.5rem;
  }

  .hleft > p {
    width: 17.7rem;
    font-size: 0.8rem;
    line-height: 1.6rem;
    margin-top: 0.5rem;
  }

  .shop .shop-btn {
    padding: 1rem;
    border-radius: 3rem;
    height: 2.5rem;
    gap: 1rem;
  }

  .shop .shop-btn .shop-img {
    border-radius: 3rem;
    padding: 0.8rem;
    width: 1rem;
    height: 1rem;
  }

  .shop .shop-btn img {
    width: 1.5rem;
  }

  .shop-btn p {
    text-wrap: nowrap;
    font-size: 0.7rem;
  }

  .count {
    gap: 0.5rem;
  }

  .count-ring {
    padding: 1rem;
    width: 1rem;
    height: 1rem;
  }

  .count-img {
    padding: 0.8rem;
    width: 0.7rem;
    height: 0.7rem;
  }
  .count-img img {
    width: 0.7rem;
    height: auto;
  }

  .count-ring:nth-child(2) {
    padding: 1.2rem;
  }

  .count-ring:nth-child(2) .count-img {
    padding: 1rem;
  }

  .count-img p {
    font-size: 0.8rem;
  }

  .hright img {
    margin-top: 3rem;
    width: 10rem;
  }

  .bg1 {
    width: 8rem;
    height: 8rem;
  }

  .bg2 {
    width: 8rem;
    height: 8rem;
  }
}
